// colors
$color-brand: #a87759;
$color-brand-light: hsla(23, 31%, 50%, 0.3);
$color-content: #212B36;

$color-white: #F7F7F7;
$color-grey: #637381;
$color-grey-light: #ebebeb;
$color-background: #F5F5F5;

// layout
$space-unit: 16px;
$layout-sidebar: 277px;

// fonts
$font-base: 16px;
$line-height: 1.667;