@use './config/variables' as *;
@forward './config/variables';

@forward 'base/fonts';
@forward 'base/global';

@forward 'utilites/spacing';

@forward 'components/components';

#services {
    .feature-card {
        background-color: $color-brand;

        .fa-2x {
            color: $color-white;
        }

        h5 {
            color: $color-white;
        }

        p {
            color: $color-grey-light
        }
    }

}

#product-us-home {
    margin-bottom: 70px;
}

