@use "../config/variables" as *;
@use "../base/fonts.scss" as *;

html {
    box-sizing: border-box;
    direction: rtl;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $family-content;
    font-size: $font-base;
    line-height: $line-height;
    color: $color-content;
    background-color: $color-background;
    padding: 0;
    text-align: justify;
}

a {
    color: $color-content;
    transition: all .3s;

    &:hover {
        color: $color-brand;
    }
}

a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
}

input,
textarea {
    margin: 5px auto;
    color: $color-grey !important;
    border-radius: 20px !important;

    &::placeholder {
        color: $color-grey !important;
    }

    &:focus {
        border-color: $color-brand !important;
        box-shadow: 0 0 2px 0 $color-brand !important;
    }
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 16px 5px 16px 0;
}

button {
    display: block;
    padding: 2px 30px;
    margin: 10px auto;
    color: $color-white !important;
    background-color: $color-brand !important;
    font-size: 18px;
    border: 2px solid $color-brand !important;
    border-radius: 20px !important;
    outline: none !important;
    transition: all .5s;

    &:hover {
        background-color: $color-white !important;
        color: $color-brand !important;
        border: 2px solid $color-brand !important;
    }
}

img {
    width: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $family-heading;
    font-weight: bold;
    margin-top: 0;
}

h1 {
    font-size: 42;
}

h2 {
    font-size: 28;
}

h3 {
    font-size: 17;
}

p,
span {
    font-family: $family-content;
    font-weight: normal;
}


// global class
.container {
    margin: 30px auto;
}

.container-fluid {
    padding: 50px 0;
}

.price {
    color: $color-brand;
}

.add-to-cart-btn {
    background-color: $color-white;
    font-weight: 700;
    border-radius: 7px !important;
    border: 1px solid $color-brand !important;
    transition: all 0.3s ease;

    &:hover {
        color: $color-content !important;
        background-color: $color-white !important;
        border-color: $color-content !important;
    }
}

.custom-thumbnail {
    border: 2px solid $color-grey-light;
    padding: 8px;
    cursor: pointer;

    &:hover {
        border-color: $color-brand;
    }

    img {
        height: 250px;
        width: 100%;
        max-width: 250px;
        margin: auto;
    }

    h4 {
        font-size: 18px;
    }
}

.rating {
    color: #c2c2c2;
}

.rating .active {
    color: #f3af41;
}

.overlay {
    position: absolute;
    background-color: $color-brand-light;
    height: 250px;
    width: calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all 0.3s ease;

    &:hover {
        opacity: 1;
    }
}

.custom-carousel-indicators2 {
    bottom: -70px !important;

    >li {
        width: 13px !important;
        height: 13px !important;
        margin: 2px !important;
        background-color: #dbdbdb !important;
    }

    >li.active {
        background-color: #565656 !important;
    }

}

.heading {
    font-size: 24px;
    margin-bottom: 25px !important;
}

@media (max-width: 991.98px) {
    .overlay {
        display: none !important;
    }
}