@use "../config/variables" as *;
@use "../base/fonts.scss" as *;

html {
    box-sizing: border-box;
    direction: rtl;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: $family-content;
    font-size: $font-base;
    line-height: $line-height;
    color: $color-content;
    background-color: $color-background;
    margin: 0 10px;
    padding: 0;
    text-align: justify;
}

a {
    color: $color-content;
    transition: all .3s;

    &:hover {
        color: $color-brand;
    }
}

a,
a:active,
a:hover,
a:focus {
    text-decoration: none;
}

input,
textarea {
    margin: 5px auto;
    color: $color-grey !important;
    border-radius: 20px !important;

    &::placeholder {
        color: $color-grey !important;
    }

    &:focus {
        border-color: $color-brand !important;
        box-shadow: 0 0 2px 0 $color-brand !important;
    }
}

ul,ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 16px 5px 16px 0;
}

button {
    display: block;
    padding: 2px 30px;
    margin: 10px auto;
    color: $color-white !important;
    background-color: $color-brand !important;
    font-size: 18px;
    border: 2px solid $color-brand !important;
    border-radius: 20px !important;
    outline: none !important;
    transition: all .5s;

    &:hover {
        background-color: $color-white !important;
        color: $color-brand !important;
        border: 2px solid $color-brand !important;
    }
}

img {
    width: 75px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $family-heading;
    font-weight: bold;
    margin-top: 0;
}

h1 {
    font-size: 42;
}

h2 {
    font-size: 28;
}

h3 {
    font-size: 17;
}

p,
span {
    font-family: $family-content;
    font-weight: normal;
}