<footer class="c-footer container border-top pt-5">
    <div class="row">
        <div class="col-lg col-sm-6 my-3">
            <h4 class=" mb-3">من نحن</h4>
            <ul>
                <li><a href="#">الأحكام والشروط</a></li>
                <li><a href="#">سياسة الخصوصية</a></li>
                <li><a href="./about-company.html">حول الشركة</a></li>
            </ul>
        </div>
        <div class="col-lg col-sm-6 my-3">
            <h4 class=" mb-3">تواصل معنا</h4>
            <ul>
                <li><a href="./contact-us.html">اتصل بنا</a></li>
                <li><a href="#">أعلن معنا</a></li>
                <li><a href="#">وظائف شاغرة</a></li>
            </ul>
        </div>
        <div class="col-lg col-sm-6 my-3">
            <h4 class=" mb-3">وسائل التواصل</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt me-2"></i> الرياض</li>
                <li><i class="fas fa-phone-alt me-2"></i> 00966-500-557-333</li>
                <li><i class="fas fa-envelope me-2"></i> info@coffee-company.com</li>
            </ul>
        </div>
        <div class="col-lg col-sm-6 my-3">
            <h4 class=" mb-3">تابعنا على</h4>
            <ul class="text-center">
                <li class="d-flex gap-3 justify-content-evenly">
                    <a href="#"><i class="fab fa-facebook-square fa-2x"></i></a>
                    <a href="#"><i class="fab fa-twitter-square fa-2x"></i></a>
                    <a href="#"><i class="fab fa-google-plus-square fa-2x"></i></a>
                    <a href="#"><i class="fab fa-youtube-square fa-2x"></i></a>
                </li>
                <li><a class="footer-brand" href="../index.html"><img src="../assets/images/logo.svg" alt="logo"></a></li>
                <li><span id="copyright"></span></li>
            </ul>
        </div>
    </div>
</footer>