<header class="c-header">
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <div class="container">
            <a class="navbar-brand" href="./index.html"><img src="../assets/images/logo.svg" alt="logo"></a>
            <button class="navbar-toggler m-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-3 mb-lg-0 ms-5">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">المنتجات</a>
                        <ul class="dropdown-menu custom-dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="./product-1.html">كابتشينو كلاسيك</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./product-2.html">قهوة أرابيكا عالمية</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./product-3.html">قهوة تركية أصلية</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./distributors.html">الموزعين</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./about-company.html">حول الشركة</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./contact-us.html">اتصل بنا</a>
                    </li>
                </ul>
                <div class="row ms-3 mb-lg-0 mb-3">
                    <a class="col-1 px-1" href="#"><i class="fa-solid fa-cart-shopping fa-xl"></i></a>
                </div>
            </div>
        </div>
    </nav>
</header>