<div class="c-product-2">
    <div class="container-fluid">
        <div class="container borders-between">
            <!-- قسم الصور وتفاصيل المنتج -->
            <div class="row mb-5">
                <div class="col-lg-5 col-md-9 offset-md-2 offset-lg-1 product-images">
                    <div id="carousel-product-images" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../assets/images/product-2-1.jpg" alt="كيس قهوة أرابيكا عالمية">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/product-2-2.jpg" alt="حبوب بن أرابيكا محمصة">
                            </div>
                            <div class="carousel-item">
                                <img src="../assets/images/product-2-3.jpg" alt="تحضير قهوة أرابيكا في فنجان">
                            </div>
                        </div>
                        <div class="carousel-indicators custom-carousel-indicators d-none d-lg-block">
                            <img src="../assets/images/product-2-1.jpg" alt="صورة مصغرة لكيس قهوة أرابيكا - 1"
                                class="custom-carousel-indicators-primary active"
                                data-bs-target="#carousel-product-images" data-bs-slide-to="0">
                            <img src="../assets/images/product-2-2.jpg" alt="صورة مصغرة لحبوب بن أرابيكا - 2"
                                class="custom-carousel-indicators-primary" data-bs-target="#carousel-product-images"
                                data-bs-slide-to="1">
                            <img src="../assets/images/product-2-3.jpg" alt="صورة مصغرة لفنجان قهوة أرابيكا - 3"
                                class="custom-carousel-indicators-primary" data-bs-target="#carousel-product-images"
                                data-bs-slide-to="2">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <form action="" id="form-product-selection" class="borders-between">
                        <div class="row">
                            <div class="product-category">
                                قهوة
                            </div>
                            <div class="clearfix">
                                <h2 class="float-start">قهوة أرابيكا عالمية</h2>
                                <div class="float-end price large">
                                    45 ر.س
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="product-description">
                                القهوة مشروب عالمي من بذور البن المحمصة، تحتوي على الكافيين وتعد من أكثر السلع
                                والمشروبات تداولًا.
                            </p>
                        </div>
                        <div class="row brand-and-rating">
                            <div class="col-6">
                                <div class="brand">
                                    الماركة:
                                    <img src="../assets/images/logo.svg" alt="شعار الماركة">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="rating">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </div>
                            </div>
                        </div>
                        <div class="product-quantity">
                            <div>
                                العدد المطلوب:
                                <select name="quantity" class="custom-form-control">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                </select>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn custom-btn-warning custom-btn-with-icon">
                                <span>
                                    إضافة لعربة الشراء
                                    <i class="fas fa-cart-plus"></i>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- نهاية قسم الصور وتفاصيل المنتج -->
            <!-- قسم وصف المنتج -->
            <div class="more-description">
                <h3 class="heading heading-with-border-bottom heading-inline">
                    وصف المنتج
                </h3>
                <p>
                    القهوة مشروب يعد من بذور البن المحمصة، وينمو في أكثر من 70 بلداً. خصوصًا ضمن المناطق الاستوائية في
                    أمريكا الشمالية والجنوبية وجنوب شرق آسيا وشبه القارة الهندية وأفريقيا. ويعتبر البن الأخضر هو ثاني
                    أكثر السلع تداولاً في العالم بعد النفط الخام. ونظراً لاحتوائها على الكافيين، يمكن أن يكون للقهوة
                    تأثير منبه للبشر. تعتبر القهوة في يومنا الحالي واحدة من المشروبات الأكثر شعبية في جميع أنحاء العالم.
                </p>
            </div>
            <!-- نهاية قسم وصف المنتج -->
            <!-- التعليقات -->
            <div class="row">
                <div class="comments borders-between">
                    <h3 class="heading heading-with-border-bottom heading-inline">التعليقات على المنتج</h3>
                    <div class="row">
                        <div class="comment d-flex mb-3">
                            <img src="../assets/images/person-comment-1.webp" alt="محمد حالد">
                            <div>
                                <h4>
                                    محمد حالد
                                </h4>
                                <div class="rating">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                </div>
                                <p>الطعم لذيذ جدا انصح به</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="comment d-flex">
                            <img src="../assets/images/person-comment-2.webp" alt="راكان سعد">
                            <div>
                                <h4>
                                    راكان سعد
                                </h4>
                                <div class="rating">
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star active"></span>
                                    <span class="fas fa-star"></span>
                                    <span class="fas fa-star"></span>
                                </div>
                                <p>
                                    لا باس به لكن يحتاج للتحسينات
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- نهاية التعليقات -->
            <div class="row suggestions">
                <h3 class="heading">
                    اقترحنا لك
                </h3>
                <div class="row">
                    <div id="carousel-product-us" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
                        <ol class="carousel-indicators custom-carousel-indicators2">
                            <li class="active" data-bs-target="#carousel-product-us" data-bs-slide-to="0"></li>
                            <li data-bs-target="#carousel-product-us" data-bs-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <!-- الشريحة الأولى -->
                            <div class="carousel-item active">
                                <div class="row">
                                    <!-- المنتج 1 -->
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-2-1.jpg" alt="كابتشينو كلاسيك">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">كابتشينو كلاسيك</h4>
                                                    <div class="price float-end">38 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- المنتج 2 -->
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-2-1.jpg" alt="قهوة أرابيكا عالمية">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">قهوة أرابيكا عالمية</h4>
                                                    <div class="price float-end">45 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- المنتج 3 -->
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-3-1.jpg" alt="قهوة تركية أصلية">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">قهوة تركية أصلية</h4>
                                                    <div class="price float-end">33 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- المنتج 4 -->
                                    <div class="col-lg-3 col-md-4 d-none d-lg-block">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-2-1.jpg" alt="كابتشينو كلاسيك">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">كابتشينو كلاسيك</h4>
                                                    <div class="price float-end">38 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- الشريحة الثانية -->
                            <div class="carousel-item">
                                <div class="row">
                                    <!-- يمكن تكرار المنتجات أو عرض أخرى حسب الحاجة -->
                                    <!-- المنتج 1 -->
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-2-1.jpg" alt="كابتشينو كلاسيك">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">كابتشينو كلاسيك</h4>
                                                    <div class="price float-end">38 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- المنتج 2 -->
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-2-1.jpg" alt="قهوة أرابيكا عالمية">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">قهوة أرابيكا عالمية</h4>
                                                    <div class="price float-end">45 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- المنتج 3 -->
                                    <div class="col-lg-3 col-md-4">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-3-1.jpg" alt="قهوة تركية أصلية">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">قهوة تركية أصلية</h4>
                                                    <div class="price float-end">33 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- المنتج 4 -->
                                    <div class="col-lg-3 col-md-4 d-none d-lg-block">
                                        <div class="card custom-thumbnail">
                                            <div class="overlay">
                                                <button class="btn add-to-cart-btn">
                                                    إضافة إلى العربة <i class="fa-solid fa-cart-plus"></i>
                                                </button>
                                            </div>
                                            <img src="../assets/images/product-2-1.jpg" alt="كابتشينو كلاسيك">
                                            <div class="card-body p-2">
                                                <div class="clearfix">
                                                    <h4 class="float-start">كابتشينو كلاسيك</h4>
                                                    <div class="price float-end">38 ر.س</div>
                                                </div>
                                                <div class="rating">
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-solid fa-star active"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                    <i class="fa-regular fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="carousel-product-us-altrenative" class="carousel slide d-md-none d-block"
                        data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card custom-thumbnail">
                                    <div class="overlay">
                                        <button class="btn add-to-cart-btn">
                                            إضافة إلى العربة
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                    <img src="../assets/images/product-2-1.jpg" alt="كابتشينو كلاسيك">
                                    <div class="card-body p-2">
                                        <div class="clearfix">
                                            <h4 class="float-start">كابتشينو كلاسيك</h4>
                                            <div class="price float-end">38 ر.س</div>
                                        </div>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <button class="btn add-to-cart-btn d-block d-lg-none mx-auto">
                                            إضافة إلى العربة
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card custom-thumbnail">
                                    <div class="overlay">
                                        <button class="btn add-to-cart-btn">
                                            إضافة إلى العربة
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                    <img src="../assets/images/product-2-1.jpg" alt="قهوة أرابيكا عالمية">
                                    <div class="card-body p-2">
                                        <div class="clearfix">
                                            <h4 class="float-start">قهوة أرابيكا عالمية</h4>
                                            <div class="price float-end">45 ر.س</div>
                                        </div>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <button class="btn add-to-cart-btn d-block d-lg-none mx-auto">
                                            إضافة إلى العربة
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card custom-thumbnail">
                                    <div class="overlay">
                                        <button class="btn add-to-cart-btn">
                                            إضافة إلى العربة
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                    <img src="../assets/images/product-3-1.jpg" alt="قهوة تركية أصلية">
                                    <div class="card-body p-2">
                                        <div class="clearfix">
                                            <h4 class="float-start">قهوة تركية أصلية</h4>
                                            <div class="price float-end">33 ر.س</div>
                                        </div>
                                        <div class="rating">
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-solid fa-star active"></i>
                                            <i class="fa-regular fa-star"></i>
                                            <i class="fa-regular fa-star"></i>
                                        </div>
                                        <button class="btn add-to-cart-btn d-block d-lg-none mx-auto">
                                            إضافة إلى العربة
                                            <i class="fas fa-cart-plus"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn arrow-btn" data-bs-target="#carousel-product-us-altrenative"
                                    data-bs-slide="prev">
                                    <i class="fas fa-chevron-right"></i>
                                </button>
                                <button class="btn arrow-btn" data-bs-target="#carousel-product-us-altrenative"
                                    data-bs-slide="next">
                                    <i class="fas fa-chevron-left"></i>
                                </button>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn arrow-btn" data-bs-target="#carousel-product-us-altrenative"
                                data-bs-slide="prev">
                                <i class="fas fa-chevron-right"></i>
                            </button>
                            <button class="btn arrow-btn" data-bs-target="#carousel-product-us-altrenative"
                                data-bs-slide="next">
                                <i class="fas fa-chevron-left"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>